.container {
  position: fixed;
  left: -300px;
  width: 280px;
  max-width: 100%;
  padding-bottom: 2.5rem;
  min-height: 100vh;
  top: 0;
  z-index: var(--sidebar-z-index);
  box-shadow: 2px 9px 12px rgb(0 0 0 / 10%);
  transition: 0.25s ease-in-out;
  border-right: 1px solid #f3f3f3;
  background-color: #fff;
}

.container.active {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 270px;
  }
}

.container > ul > li > div {
  display: block;
  width: 100%;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c293e;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.container .icon-container {
  display: flex;
  align-items: center;
}

.icon-container svg {
  /* display: none; */
  max-width: 20px;
  max-height: 20px;
}

.container > ul > li > div:hover {
  background-color: #f0f0f0;
  border-radius: 0px 100px 100px 0px;
  transition: 0.2s ease-in-out;
}

.container > ul > li > div * {
  transition: 0.2s ease-in-out;
}

.container > ul > li > div svg path {
  fill: #2c293e;
}

.container > ul > li > div:hover svg path {
  fill: #7611f7;
}

.container .icon-container.active .icon path {
  fill: #7611f7;
}

.container .icon-container.active {
  background-color: #f0f0f0;
  border-radius: 0px 100px 100px 0px;
  color: #7611f7;
}

/* .container .icon-container.active span {
  background: -webkit-linear-gradient(45deg, #09009f, #ec4899 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */