.container h1 .gradient-text {
  background: -webkit-linear-gradient(45deg, #09009f, #ec4899 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 550;
}

.market-link {
  background: -webkit-linear-gradient(45deg, #09009f, #ec4899 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
}

.market-link:hover {
  font-size: 1.1rem;
}

.container h1 {
  word-break: break-all;
}